<h2> List of enabled disciplines </h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Lecturer</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @disciplines.each do |d| %>
    <tr>
      <th scope="row"><%= d.id %></th>
      <td><%= d.name %></td>
      <td><%= d.description %>></td>
      <td><%= d.lecturer %></td>
      <td><%= link_to('Choose current discipline', add_student_discipline_path) %></td>
    </tr>
  <% end %>
  </tbody>
</table>